/* You can add global styles to this file, and also import other style files */

* {
  font-family: Helvetica, sans-serif;
}

/* forms */

form label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

form input {
  margin-bottom: 0.5rem;
}
