<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="invoiceId">Invoice ID</label>
    <input
      type="text"
      class="form-control"
      id="invoiceId"
      name="invoiceId"
      formControlName="id"
      readonly
    />
  </div>

  <div class="form-group">
    <label for="customerId">Customer ID</label>
    <input
      type="text"
      class="form-control"
      id="customerId"
      name="customerId"
      formControlName="customerId"
    />
  </div>

  <div class="form-group" formArrayName="expenses">
    <label for="expenses">Expenses</label>
    <ul>
      <li
        *ngFor="let expense of expenses.controls; index as i"
        [formGroupName]="i"
      >
        <input
          type="text"
          placeholder="Description"
          name="description"
          formControlName="description"
        />
        <input
          type="number"
          placeholder="Price"
          name="price"
          formControlName="price"
        />
        <button type="button" (click)="removeExpense(i)">x</button>
      </li>
      <li><button type="button" (click)="addExpense()">Add expense</button></li>
    </ul>
  </div>

  <div class="form-group">
    <label for="tax">Tax</label>
    <input
      type="number"
      class="form-control"
      id="tax"
      name="tax"
      formControlName="tax"
    />
    %
  </div>

  <button type="submit">Save invoice</button>
  <button type="button" (click)="clear()">Clear</button>
</form>
